Importing the required packages

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

1. Loading the registered users by encoding as latin-1
2. Removing the scientific notation

In [16]:
users = pd.read_csv("takehome_users.csv", encoding='latin-1')
pd.options.display.float_format = '{:.1f}'.format

In [3]:
users.shape

(12000, 10)

In [17]:
users.head(1)

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1398138810.0,1,0,11,10803.0

In [5]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  object
 2   name                        12000 non-null  object
 3   email                       12000 non-null  object
 4   creation_source             12000 non-null  object
 5   last_session_creation_time  8823 non-null   float64
 6   opted_in_to_mailing_list    12000 non-null  int64
 7   enabled_for_marketing_drip  12000 non-null  int64
 8   org_id                      12000 non-null  int64
 9   invited_by_user_id          6417 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 937.6+ KB

In [6]:
users.describe()

,object_id,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
count,12000.00,8823.00,12000.00,12000.00,12000.00,6417.00
mean,6000.50,1379279305.70,0.25,0.15,141.88,5962.96
std,3464.25,19531160.79,0.43,0.36,124.06,3383.76
min,1.00,1338452406.00,0.00,0.00,0.00,3.00
25%,3000.75,1363194965.00,0.00,0.00,29.00,3058.00
50%,6000.50,1382888470.00,0.00,0.00,108.00,5954.00
75%,9000.25,1398442604.00,0.00,0.00,238.25,8817.00
max,12000.00,1402066730.00,1.00,1.00,416.00,11999.00

Loading the users engagement data

In [7]:
users_engagement = pd.read_csv("takehome_user_engagement.csv")

In [8]:
users_engagement.shape

(207917, 3)

In [9]:
users_engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  object
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [10]:
users_engagement.head(1)

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1

In [13]:
unique_users = len(users_engagement['user_id'].unique())

In [15]:
print(f'There are {unique_users} unique users of the 207,917 entries in engagement data ')

There are 8823 unique users of the 207,917 entries in engagement data

In [20]:
users_engagement.groupby('user_id')

user_id  time_stamp           visited
1        2014-04-22 03:53:30  1          1
2        2013-11-15 03:45:04  1          1
         2013-11-29 03:45:04  1          1
         2013-12-09 03:45:04  1          1
         2013-12-25 03:45:04  1          1
                                        ..
11996    2013-09-06 06:14:15  1          1
11997    2013-01-15 18:28:37  1          1
11998    2014-04-27 12:45:16  1          1
11999    2012-06-02 11:55:59  1          1
12000    2014-01-26 08:57:12  1          1
Length: 207917, dtype: int64

In [23]:
three_logins_df = users_engagement.groupby('user_id').filter(lambda x: len(x) >=3)
three_logins_ids = len(three_logins_df['user_id'].unique())
print(f'There are {three_logins_ids} unique users who logged in 3 times or more in total')
three_logins_df.head(5)

There are 2248 unique users who logged in 3 times or more in total

            time_stamp  user_id  visited
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1
5  2013-12-31 03:45:04        2        1

In [24]:
len(three_logins_df)

201002